<div class="well">

  <h3 class="center">
  	<%= gravatar_for msg.sender, :thumb, :size => 30 %> <%= link_to msg.sender.username, msg.sender %> 
     to 
  	<%= gravatar_for msg.user, :thumb, :size => 30 %> <%= link_to msg.user.username, msg.user %></h3>
  <div class="alt center"><%= msg.msg_time %><br><br></div>
  <h3 style="margin-left: 80px;"><%= msg.sujet %></h3>


  <div class="msg">
	<% line_breaks(msg.content).each do |m| %>
	  <%= m %><br>
	<% end %>
  </div> 
  <div style="margin-left:80px;">
  <% if msg.user == current_user %>
    

    <%= form_for msg do |f| %>
      <% if msg.read == false %>
   	   	<%= f.hidden_field(:read, :value => true) %>
   	   	<b><%= f.submit "mark as read", :class => "btn" %></b>
   	  <% else %>
   	   	<%= f.hidden_field(:read, :value => false) %>
   	   	<%= f.submit "mark as unread", :class => "btn" %>
	  <% end %>
    <% end %>
          
   <%= form_tag new_user_message_path(msg.sender), :method => 'get' do %>
     <%= hidden_field_tag(:reply_from, msg.id) %>
     <%= submit_tag "reply", :class => "btn btn-primary" %>
   <% end %>
    
  <% else %>
    <%= link_to "edit", edit_message_path(msg), :class => "btn" %>
    <%= link_to "delete", message_path(msg), :class => "btn btn-danger", :method => :delete  %>
  	  
  <% end %>
  </div>
</div>