<table border=0 class="tble message">
	<tr>
	<th class="top">from: </th>
	<td><%= gravatar_for msg.sender, :thumb, :size => 30 %> <%= link_to msg.sender.username, msg.sender %><br></td>
    </tr>

    <tr>
	<th style="background-color: #ddd; text-align: right; padding-right: 5px;">to: </th>
	<td><%= gravatar_for msg.user, :thumb, :size => 30 %> <%= link_to msg.user.username, msg.user %></td>
	</tr>
	
	<tr style="padding-top: 0px; vertical-align: bottom;">
	<th style="background-color: #ddd; text-align: right; padding-right: 5px; padding-bottom: 0px;">subject: </th>
	<td style="padding-bottom: 4px;"><strong> <%= msg.sujet %></strong>
	</td>
	<th style="background-color: transparent;">sent: </th>
	<td style="padding-bottom: 4px;" class="alt"><%= msg.msg_time %>
	</tr>
	
	<tr>
	<th class="bottom">message: </th>
	<td colspan=3 border=1 class="msg" style="background-color: white; font-size:16px;">
	  <div="alt"></div>
	  <% msg.line_breaks.each do |m| %>
	    <%= m %><br>
	  <% end %>
    </td>
    </tr>
  <br>
  <tr>
  <td></td>
  <td></td>
  <% if msg.user == current_user %>
    <td style="text-align: right;">
    <%= form_for msg do |f| %>
      <% if msg.read == false %>
   	   	<%= f.hidden_field(:read, :value => true) %>
   	   	<b><%= f.submit "mark as read", :class => "btn" %></b>
   	  <% else %>
   	   	<%= f.hidden_field(:read, :value => false) %>
   	   	<%= f.submit "mark as unread", :class => "btn" %>
	  <% end %>
    <% end %>
    </td>      
    <td>
	<%= form_tag new_user_message_path(msg.sender), :method => 'get' do %>
      <%= hidden_field_tag(:reply_from, msg.id) %>
      <%= submit_tag "reply", :class => "btn btn-primary" %>
    <% end %>
    </td>
  <% else %>
    <td style="text-align: right;">
    <%= link_to "edit", edit_message_path(msg), :class => "btn" %>
    </td>
    <td>
    <%= link_to "delete", message_path(msg), :class => "btn btn-danger", :method => :delete  %>
    </td>
    </tr>	  
  <% end %>
  </div>
  </table>