<table border=0 class="tble msg">
	<tr>
	<th class="top">from: </th>
	<td><% if msg.sender.present? %>
		  <%= gravatar_for msg.sender, :thumb, :size => 30 %> 
		  <%= link_to msg.sender.username, msg.sender %>
		<% else %>
		  <%= msg.sender_email %>
		<% end %><br>
	</td>
    </tr>

    <tr>
	<th>to: </th>
	<td>
	  <% if msg.user == current_user %>
	    <h4>You!</h4>
	  <% else %>
	    <%= gravatar_for msg.user, :thumb, :size => 30 %> <%= link_to msg.user.username, msg.user %>
	  <% end %>
	</td>
	</tr>
	
	<tr style="padding-top: 0px; vertical-align: bottom;">
	<th>subject: </th>
	<td style="padding-bottom: 5px;"><strong> <%= msg.sujet %></strong>
	</td>
	<td></td>
	<td style="padding-bottom: 3px; vertical-align: bottom;"><b>sent: </b><span class="alt"><%= msg.msg_time %></div>
	</tr>
	
	<tr>
	<th class="bottom">message: </th>
	<td colspan=3 class="msg" style="background-color: white; font-size:120%;">
	  <% msg.line_breaks.each do |m| %>
	    <%= m %><br>
	  <% end %>
	</td>
    </tr>
  <tr>

  <% if msg.user == current_user %>
    <td></td>
    <td colspan=3 style="text-align: left;">
	  <% if msg.id == params[:id].to_i %>
	    <% msg.read = true %><% msg.save %>
	  <% end %>
    <%= form_for msg do |f| %>
      <% if msg.read == true %>
   	   	<%= f.hidden_field(:read, :value => false) %>
   	   	<%= f.submit "mark as unread", :class => "btn" %>
      <% else %>
        <%= f.hidden_field(:read, :value => true) %>
        <%= f.submit "mark as read", :class => "btn btn-primary" %>
	  <% end %>
    <% end %>
   

<!-- Reply field -->
<% if msg.sender.present? %>
<div class="accordion-heading">
  <a class="btn btn-primary accordion-toggle" data-toggle="collapse" href="#reply" style="float:left;">reply</a></tr>
</div>
    <tr><td colspan=4>
	<div id="reply" class="accordion-body collapse"><div class="well">
    <% @reply.sujet = msg.reply_sujet %>
    <div style="float:left; text-align:right; height: 30px; vertical-align: bottom; width:159px;"><b>to:</b></div>
<div style="float:left; padding-left: 12px;"><h4><%= msg.sender.username.titlecase %></h4></div><br><br>

		<%= simple_form_for [msg.sender, @reply] do |f| %>
		  <%= f.input :sujet, :label => "subject:", :required => false %>
		  <%= f.input :content, :as => :text, :label => "message:" , :class => "text_area", :required => false %>
		  <%= f.submit "send", :class => "btn btn-primary", :style=> "float:right; margin-right: 120px;"%>
		<% end %>
		
</div>
</div>
<% else %>
<p>This person does not have an account. Reply to their email if you find them believable.<br>
If this sounds like spam, please <%= link_to "report", contact_path %>!</p>	  
<% end %>
<!-- End reply -->


    </td>
  <% else %>
    <td style="text-align: right;">
    <%= link_to "edit", edit_message_path(msg), :class => "btn btn-warning" %>
    </td>
    <td>
    <%= link_to "delete", message_path(msg), :class => "btn btn-danger", :method => :delete  %>
    </td>
    </tr>
  <% end %>
  </div>
  </table>    
  