<div class="hero-unit shadow-down"><h1>write a message</h1>
</div>


<div class="row">

	
  <div class="span4">
    <%= render 'inbox' %>	
  </div>


  <div class="span8">
    <div class="well">
	    <h4>
		  <span style="margin-left: 138px; margin-right: 8px;">to: </span>
		  <%= gravatar_for @user, :thumb, :size => 30 %> 
	      <%= link_to @user.username, @user %>
	    </h4><br>
    
	    <%= simple_form_for [@user, @message] do |f| %>
	      <%= f.input :sujet, :label => "subject:", :required => false %>
	      <%= f.input :content, :as => :text, :label => "message:" , :class => "text_area", :required => false %>
	      <%= f.submit "send", :class => "btn btn-primary", :style => "margin-left: 170px;" %>
	    <% end %>
    </div>
    <% if @reply_from.present? %>
	  <%= render 'show_message', :msg => @reply_from %>
	<% end %>
  </div>
</div>