<div class="hero-unit"><h1>write a message</h1>
</div>

from <%= link_to current_user.username, current_user %> to <%= link_to @user.username, @user %><br>
<div class="span8">
<%= simple_form_for [@user, @message] do |f| %>
<%= f.input :sujet, :label => "subject:", :required => false %>
<%= f.input :content, :as => :text, :label => "message:" , :class => "text_area", :required => false %>
 <%= f.submit "send", :class => "btn btn-primary" %>
<% end %>

</div>