<div class="hero-unit">
<h1>users</h1>
</div>
<div class="super-small-container">
	<br>
	<div class="center">
	<p>Search by first names:</p>
	<%= form_tag users_path, :method => :get, :id => "name_search" do %>
	  <%= hidden_field_tag :direction, params[:direction] %>
	  <%= hidden_field_tag :sort, params[:sort] %>
	  <%= text_field_tag :name_search, params[:name_search] %>
	  <%= submit_tag "submit"%>
	<% end %>
	<% link_to "all users", users_path %>
	</div>

<div id="index_table">
<%= render 'index_table'%>
</div>
<br>
</div>