<div class="row">
	
<div class="span8">
  
<div class="hero-unit" style="margin: 0 0px 0 0px; height: auto;">
		
<!-- cred -->
      <div style="float:right; margin: 22px 0px 0 20px; height:106px;"><div class="cred round">
	    cred: <%= cred_magic %>
	  </div></div>
	
<!-- photo -->
      <div style="float: left;">
        <%= link_to (gravatar_for @user, :small, :size => 100), avatar_medium %>
      </div>
        <% if @user == current_user %>
      <div style="clear:left;">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc" href="#edit-photo">edit photo</a>
		  <div id="edit-photo" class="accordion-body collapse" style="clear:both;">
		  <%= form_for current_user.profile do |f| %>
		    <%= f.file_field :avatar, :label => nil %><br>
			<%= f.submit "upload", :class=>"btn btn-primary" %>
		  <% end %>
		</div> 
		</div>
		<% end %>
		
<!-- name/auth	 -->	
	  <h1 style="clear:left; font-size:3em;"><%= @user.username %></h1>
	  <% if @user.authentications.present? %>
	  
        <% @user.authentications.each do |auth| %>
          <%= link_to (image_tag "#{auth.provider}_32.png"), auth_link(auth), :class => "auth_provider" if current_user %>
 	      <%= image_tag "#{auth.provider}_32.png" if !current_user %>
	    <% end %>
	  <% end %>
	  <% if @user.rides.count > 0 %>
	    <br>
		<%= link_to "#{pluralize(@user.rides.count, "posted ride")}.", user_rides_path(@user) %>
	  <% end %>

</div><!-- end of hero-unit -->

  <div class="well" style="margin-bottom: 0px;">
      <% if @user == current_user %>
        <div class="center">
          <a class="accordion-toggle" data-toggle="collapse" href="#edit-profile">edit public profile</a>
		</div>
        <div id="edit-profile" class="accordion-body collapse" style="clear:both;">
        <div class="well">
        <%= simple_form_for current_user.profile do |f| %>
          <div class="control-group select">
          <%= f.label :birthday, "birthday:" %>
  		  <% bd = @user.profile.birthday %><% bd ||= Date.today %><% bd = bd.change(:year => 1980) %>
          <%= f.date_select(:birthday, :order => [:month, :day, :year], :start_year => 1940, :end_year => 1994, :default => bd) %>
          </div><% gen = @user.profile.gender %><% gen ||= "human" %>
          <%= f.input 	:gender, :label => "gender:", 
 						:collection => [["traveller"], ["woman"], ["human"], ["man"], ["zombie"]], :selected => gen %>
          <%= f.input :hometown, :label => "current city:" %>
          <div class="center"><%= f.submit "update", :class=>"btn btn-primary" %></div>
        <% end %>
        </div>
        </div>
      <% end %>
      <div class="profile round" style="font-size:110%; padding: 20px;">
        <div class="left"><b>age: </b></div>
        <div class="right"><%= distance_in_years(@user.profile.birthday) if @user.profile.birthday.present? %></div><br>
        <div class="left"><b>gender: </b></div>
        <div class="right"><%= @user.profile.gender if @user.profile.gender.present? %></div> <br>
        <div class="left"><b>current city: </b></div>
        <div><%= @user.profile.hometown if @user.profile.hometown.present? %></div><br>
      </div>
              	   
	  <div class="profile round" style="padding:20px;">
        <div class="round shadow bio" style="">bio: </div>
        <div class="about content" style="">
	    <p>
		    <% @user.profile.about = nil if @user.profile.about == "" %>
		    <% @user.profile.about ||= "click here to create a bio" if @user == current_user %>
		    <% @user.profile.about ||= "this person has not filled out a bio yet" if @user != current_user %>
		    <%= best_in_place_if @user == current_user, @user.profile, :about, :type => :textarea %>
		</p>
        </div>
      </div><br><br>
    </div>
     
		<% if @user == current_user %>
		  <h3 class="heading top">private profile</h3>
	      <div class="well bottom">
		    <b>private profile:</b>
		    <%= link_to "(edit)", edit_user_registration_path(@user) %><br>
		    <strong>name: </strong><%= "#{@user.firstname} #{@user.lastname}" %><br>
		    <strong>email: </strong><%= best_in_place @user, :email %><br>
		    <strong>birthday: </strong><%= @user.profile.birthday.strftime("%B %e, %Y") if @user.profile.birthday.present? %><br>
		    <br>
		    <%= render 'layouts/create_authentications' %>
		  </div>
		<% else #not current_user %>
		<% end %>
	</div>
	<div class="span4">
   		  <% if current_user %>
		      <% if @user == current_user %>
		        <%= render 'my_messages', :user => @user %>
		      <% else %>
		  	    <%= render 'mutual_messages', :user => @user %>
		      <% end %>
		  <% end %>
		    <%= render 'my_references', :user => @user %>
	</div>



</div>