<div class="super-small-container well">
	<br>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 
  <%= f.input :firstname, :label => "first name:", :placeholder => "", :required => false %>
  <%= f.input :lastname, :label => "last name:", :placeholder => "", :required => false %>
  <%= f.input :email, :label => "email:", :required => false, :placeholder => ""%>
  <% if params[:action] == "update" %>
  <%= f.input :current_password, :label => "current password:", :required => false %>
  <h5>change password?</h5>
  <% end %>
  <%= f.input :password, :label => "password:", :required => false, :placeholder => "" %>
  <%= f.input :password_confirmation, :label => "confirm password:", :required => false, :placeholder => "" %>

<div class="center">

  <%= f.submit "sign up", :class => "btn btn-primary", :style => "width: 150px;" %>

<% end %>

<br>

Already a user? <%= link_to "sign in", sign_in_path %>

<%- if devise_mapping.omniauthable? %>
   <h3>or connect with:</h3>
  <%- resource_class.omniauth_providers.each do |provider| %>
   
    <%= link_to (image_tag "#{provider}_64.png"), omniauth_authorize_path(resource_name, provider), :class => "auth_provider" %>
    <% link_to "#{provider.to_s.split('_').first}", omniauth_authorize_path(resource_name, provider) %>
  <% end -%>
<% end -%>
</div>
</div>