<div class="super-small-container well shadow round" style="margin-bottom: 0px;">
	<br>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 
  <%= f.input :firstname, :label => "first name:", :placeholder => "", :required => false %>
  <%= f.input :lastname, :label => "last name:", :placeholder => "", :required => false %>
  <%= f.input :email, :label => "email:", :required => false, :placeholder => ""%>
  <% if current_user %>
  <%= f.input :current_password, :label => "current password:", :required => false %>
  <h5 class="center">change password? (optional)</h5>
  <% end %>
  <%= f.input :password, :label => "password:", :required => false, :placeholder => "" %>
  <%= f.input :password_confirmation, :label => "confirm password:", :required => false, :placeholder => "" %>

<div class="center">
  <% sub = "sign up" if params[:action] != 'edit' %>
  <% sub ||= "update" %>
  <%= f.submit sub, :class => "btn btn-primary", :style => "width: 150px;" %>
  

<% end %>
<%= render 'shared/links' unless params[:action] == 'edit' %>
</div>
</div>