<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
		
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
	  <%= link_to "blog.hithr.to", root_url(subdomain: "blog"), :class => "brand", 
				:style => "text-decoration: none; margin-left:80px;" %>
      <div class="nav-collapse">
        <ul class="nav nav-pills">
          <li class="divider-vertical"></li>
          <li><%= link_to "home", root_url(subdomain: false) %></li> 
          <li><%= link_to "about", abouts_url(subdomain: false) %></li>
          <li><%= link_to "contact", contact_url(subdomain: false) %></li>
        </ul>
      </div>
	  <div class="nav-collapse" style="float:right; margin-right:80px;">
		
	    <ul class="nav nav-pills">
	      <% if current_user %>
		    <% if current_user.messages.unread.count > 0 %>
		      <li><%= link_to "#{pluralize(current_user.messages.unread.count, 'unread message')}", message_path(current_user.messages.unread.first) %>
			  </li>
			<% end %>
		  
	      <li class="dropdown">
		  
	        <a class="dropdown-toggle" data-toggle="dropdown">
		    <%= current_user.username %>
			
	           <b class="caret"></b></a>
	        <ul class="dropdown-menu">
		      <li><%= link_to "messages", user_messages_url(current_user, subdomain: false) %></li> 
		      <li><%= link_to "my rides", user_rides_url(subdomain: false) %></li>
		      <li><%= link_to "see profile", user_url(current_user, subdomain: false) %></li>
		      <li><%= link_to "sign out", sign_out_url(subdomain: false) %></li>  
		    </ul>
		  </li>
	    
	      <% else %>
	      <li><%= link_to "sign up", sign_up_url(subdomain: false) %></li>
	      <li><%= link_to "sign in", sign_in_url(subdomain: false) %></li> 
	      <% end %>
	        
	    </ul>
	  </div>
	  <div style="float:right;">
		<%= render 'shared/alerts' %>
	</div>
      </div>
    </div>
  </div>
</div>
