<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
		
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "hithr.to", root_path, :class => "brand", 
				:style => "text-decoration: none; margin-left:80px;" if request.subdomain != "blog" %>
	  <%= link_to "blog.hithr.to", root_url(subdomain: "blog"), :class => "brand", 
				:style => "text-decoration: none; margin-left:80px;" if request.subdomain == "blog" %>
      <div class="nav-collapse">
        <ul class="nav nav-pills">
          <li class="divider-vertical"></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">rides <b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><%= link_to "post ride", new_ride_path %></li>
              <li id="nav_ride_offered"><%= link_to "rides offered", rides_offered_path %></li>
 			  <li id="nav_ride_wanted"><%= link_to "rides wanted", rides_wanted_path %></li>
			</ul>
		</li>
          <li><%= link_to "about", abouts_path %></li> 
          <li><%= link_to "blog", root_url(subdomain: "blog") %>
          <li><%= link_to "contact", contact_path %></li>
          <li><% link_to  "help", help_path %></li>
        </ul>
      </div>
	  <div class="nav-collapse" style="float:right; margin-right:80px;">
		
	    <ul class="nav nav-pills">
	      <% if signed_in? %>
		    <% if current_user.messages.unread.count > 0 %>
		      <li><%= link_to "#{pluralize(current_user.messages.unread.count, 'unread message')}", message_path(current_user.messages.unread.first) %>
			  </li>
			<% end %>
		  
	      <li class="dropdown">
		  
	        <a class="dropdown-toggle" data-toggle="dropdown">
		    <%= current_user.username %>
			
	           <b class="caret"></b></a>
	        <ul class="dropdown-menu">
		      <li><%= link_to "messages", user_messages_path(current_user) %></li> 
		      <li><%= link_to "my rides", user_rides_path(current_user) %></li>
		      <li><%= link_to "profile", current_user %></li>
		      <li><%= link_to "sign out", sign_out_path %></li>  
		    </ul>
		  </li>
	    
	      <% else %>
	      <li><%= link_to "sign up", sign_up_path %></li>
	      <li><%= link_to "sign in", sign_in_path %></li> 
	      <% end %>
	        
	    </ul>
	    </div>
      </div>
    </div>
  </div>
</div>
