<td colspan="2">
<%= form_tag rides_path, :method => 'get' do %>
<% @search_date ||= Date.today %>
<%= select_date @search_date, {:prefix => :search_date,
                            :order => [:month, :day]}, {:class => "auto"} %>
</td>
<td>
+<%= select_tag(:miles_radius, options_for_select([0, 10, 20, 30, 40], params[:miles_radius]), :class => "auto") %>
</td>
<td colspan="2">
<% seed_city ||= request.location.city %>
<%= text_field_tag :search_start, seed_city, 
                                          :placeholder => "city, state", :class => "span2" %>
</td>
<td>					
<%= text_field_tag :search_end,
                   params[:search_end],
                  :placeholder => "(optional)", :class => "span2" %>
</td>
<td>

<%= submit_tag "Search", :name => nil %>
<% end %>
</td>