<div class="hero-unit" style="height: auto;">
	<div style="float: left; margin-left: 29%;">
		<%= image_tag "logo-dm.png", :size => "", :style => "opacity:0.85;" %> 
	</div>
	
    <span id="share_links" style="float:right;">
	<%= render 'share_links' %>
	</span>
    <h1 style="clear:both; text-align:center">
    <p>intercity cooperative transporation</p></h1>
  <p style="clear:both;"> </p>
  </div>

<div class="small-container happy_monkey" style="padding: 0px 0 40px 0; margin-bottom: 0px;">
	<br><br>
	<h2 class="happy_monkey center" style="font-size: 2em;">
		Find a 
		<%= select_tag(:select_wanted, options_for_select([['ride'], ['rider']]), 
						:id => "home_search_selector", :style => "height: auto;") %>
	</h2>
	<br>
	<div style="width: 55%; margin-left: auto; margin-right: auto;" id="home_page_search">
	  <%= render :partial => 'home_search_offered' %>
    </div>
  <% link_to "find a ride", rides_offered_path, :class => "current_user btn btn-large btn-primary" %>
  <% link_to "post a ride", new_ride_path, :class => "current_user btn btn-large" %>
<%= render 'layouts/create_authentications' %><br>

  </div>

<% render 'shared/city_search' %>
<% if mobile_device? %>
  <div class="well">
	<% render 'rides/small_rides_table' %>
  </div>
<% else %>
  <div class="">
    <% render 'rides/rides_table' %>
  </div>
<% end %>

