<div class="hero-unit">
  <div style="margin-left: none;">
    <h1 class="">hithr.to</h1>
    <p>helping people move together</p>
</div>
</div>

<div class="small-container center well" style="padding: 20px 0 40px 0; margin-bottom: 0px;">
<% if !current_user %>
   
      <%= link_to "sign in", new_user_session_path, :class => "btn btn-primary btn-large" %>
      <%= link_to "sign up", new_user_registration_path, :class => "btn btn-large" %><br><br><br>
    <h3>connect with:</h3>
    <%= render 'layouts/create_authentications' %><br>
  </div>
<% else %>
  <br><%= link_to "find a ride", rides_path, :class => "btn btn-large btn-primary" %>
  <%= link_to "post a ride", new_ride_path, :class => "btn btn-large" if current_user %>
  </div>
<% end %>
</div>


<% if mobile_device? %>
  <div class="well">
	<%= render 'rides/small_rides_table' %>
  </div>
<% else %>
  <div class="small-container">
    <%= render 'rides/rides_table' %>
  </div>
<% end %>