<div class="hero-unit">
	<span style="float:left; padding-left: -100;">
		<%= image_tag "hithrlogo-1.png", :size => "50x30", :style => "float:left; opacity:0.85;" %>
	</span>
	
    <span style="float:right;"><br>
	<g:plusone annotation=""></g:plusone>

	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<br>
	
	<a href="https://twitter.com/share" 
		class="twitter-share-button" 
		style="text-align:right;"
		data-via="hithrto" 
		data-url=<%= "http://hithr.to" %>
		data-text="A new rideshare website!" >
		Tweet
	</a><br>
    <script> !function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0];
				if(!d.getElementById(id))
					{js=d.createElement(s);
				js.id=id;js.src="//platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js,fjs);
					}
				}
		     (document,"script","twitter-wjs");
    </script>
	<a name="fb_share" 
		type="button" 
		share_url=<%= "http://hithr.to" %> >share
	</a> 
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
	        type="text/javascript">
	</script>
	
	</span>

  <div class="" style="margin-left: 0;">
    <h1 style="float:left;">hithr.to<% image_tag 'hithr-logo.gif', :size => "300x1", :alt => "hithr.to" %></h1>
    <p style="clear:both;">intercity cooperative transporation</p>
    
</div>
</div>

<div class="small-container center well bottom" style="padding: 0px 0 40px 0; margin-bottom: 0px;">
	<div class="well super-small-container">
	<h3>New American Rideshare</h3>
	<p class="home-explain">America is big; gas prices are high.<br>
		Sharing rides with friendly people saves time and money. <br>
		Hithr.to helps drivers find riders and riders find rides, 
		suggesting how much a rider should chip in for gas. </p></div>
	<%= link_to "sign in", new_user_session_path, :class => "not_current_user btn btn-primary btn-large" %>
    <%= link_to "sign up", new_user_registration_path, :class => "not_current_user btn btn-large" %>
    
<%= render 'layouts/create_authentications' %><br>
  <br><%= link_to "find a ride", rides_path, :class => "current_user btn btn-large btn-primary" %>
  <%= link_to "post a ride", new_ride_path, :class => "current_user btn btn-large" %>
  </div>


<% if mobile_device? %>
  <div class="well">
	<%= render 'rides/small_rides_table' %>
  </div>
<% else %>
  <div class="small-container">
    <%= render 'rides/rides_table' %>
  </div>
<% end %>

