<header></header>
  <div class="center hero-unit">

  <h1>hithr.to</h1>
  <p>helping people move together</p>
 
<% if !current_user %>

<%= link_to "sign in", new_user_session_path, :class => "btn btn-primary" %>
<%= link_to "sign up", new_user_registration_path, :class => "btn" %><br><br><br>
<h3>connect with:</h3>
<%= render 'layouts/create_authentications' %><br>

<% else %>

<br><%= link_to "post a ride", new_ride_path, :class => "btn btn-large" if current_user %>

<% end %>
</div>


<% if mobile_device? %>
  <div class="hero-unit">
	<%= render 'rides/small_rides_table' %>
  </div>
<% else %>
  <div class="small-container">
    <%= render 'rides/rides_table' %>
  </div>
<% end %>