<div class="hero-unit">
  <div class="" style="margin-left: none;">
    <h1 class="">hithr.to<% image_tag 'hithr-logo.gif', :size => "300x1", :alt => "hithr.to" %></h1>
    <p>helping people move together</p>
</div>
</div>

<div class="">
<div class="small-container center well" style="padding: 60px 0 40px 0; margin-bottom: 0px;">
	<%= link_to "sign in", new_user_session_path, :class => "not_current_user btn btn-primary btn-large" %>
    <%= link_to "sign up", new_user_registration_path, :class => "not_current_user btn btn-large" %>
    
<%= render 'layouts/create_authentications' %><br>
  <br><%= link_to "find a ride", rides_path, :class => "current_user btn btn-large btn-primary" %>
  <%= link_to "post a ride", new_ride_path, :class => "current_user btn btn-large" %>
  </div>
</div>


<% if mobile_device? %>
  <div class="well">
	<%= render 'rides/small_rides_table' %>
  </div>
<% else %>
  <div class="small-container">
    <%= render 'rides/rides_table' %>
  </div>
<% end %>

