<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :class => "form-inline" )) do |f| %>
<fieldset>
<%= devise_error_messages! %>
 
  <div class="control-group"><label class="control-label"<%= f.label :firstname, "name:" %></label>
  <div class="controls"><%= f.text_field :firstname, :placeholder => "first" %>
  <%= f.text_field :lastname, :placeholder => "last" %><span class="help-inline">help</span></div></div>
  
  <div><%= f.label :email, "email:" %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "password:" %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "confirm password:" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "sign up", :class => "btn btn-primary" %></div>
</fieldset>
<% end %>

<%= render "shared/links" %>


<div class="span8">
	<div class="well">
  <% if current_user.messages.unread.count > 0 %>
    <% @message = current_user.messages.unread.first %>
    <%= render 'show_message', :msg => @message %>
  <% else %>
     <div class="center"><br>
     <h4><i>you have no unread messages.</i></h4><br>
	   </div>
  <% end %>
</div>

<% unless @messages.unread.empty? %>
  <div class="well">
  <h4 class="center">- unread messages -</h4><hr>
    <% @messages.unread.each do |msg| %>
      <%= render 'messages/message_stubs', :msg => msg %>
    <% end %>
  </div>
<% end %>

*= require_self
*= require bootstrap_and_overrides
*= require_tree .

<div class="super-small-container shdaow round">

<%= simple_form_for @ride, :class=> "ride_form" do |f| %>

    <%= f.input :start_city, :label => "from:", :placeholder => "(city)" %>
    <%= state_select(f, :start_state) %>

    <%= f.input :end_city, :label => "to:", :placeholder => "(city)" %>
    <%= state_select(f, :end_state) %><br/>
 
    <%= f.input :go_time, :label => "on:", :as => :date, :style => "width:auto;", :discard_year => true %>
    <%= f.date_select :go_time,{ 
        					:order => [:month, :day], 
      				    	:style => "width:60px" }, {:class => "auto"} %> 
 
    <%= f.label :time, "At:" %>
    <%= go_time_select(f, :go_time) %>
    <%= go_time_min_select(f, :go_time) %> 
    <%= f.submit "continue", :class => "btn btn-warning" %>
 
<% end %>
</div>

<!-- WHat was once a reply -->
<%= form_tag new_user_message_path(msg.sender), :method => 'get' do %>
  <%= hidden_field_tag(:reply_from, msg.id) %>
  <%= submit_tag "reply", :class => "btn btn-primary" %>
<% end %>