<div class="hero-unit">
	<h1>about<% if current_user %> - wiki<% end %>
	<p><% if !current_user %>log in to <% end %>click on any of the sections to make an edit.</p></h1>
</div>

<h3 class="heading">basics</h3>
<div class="row">
  <div class="span12 content round" style=""><br>
	<% @about_graphs.each do |about| %>
	  <div class="span4 about-section" style="margin-left: 0px;">
	  <h3 style="padding: 0px 5px 0px 20px;"><%= best_in_place_if current_user, about, :title %></h3>
	  <p style="padding:0 10px 40px 20px; margin:0px;"><%= best_in_place_if current_user, about, :content, type: :textarea %></p>
	  </div>
	<% end %>
  <div class="center" style="clear:both;">
    <a href="http://fc08.deviantart.net/fs39/f/2008/351/a/5/Carpool_Motivational_Poster_by_MetroidMaster01.jpg">
	  why carpool?
    </a>
  </div>
  <br>
  </div>
</div>


<h3 class="heading">FAQ</h3>
  <div class="row">
  	<div class="span12 content round"><br>
   	<% @about_faqs.each do |about| %>
   	  <div class="span6 about-section" style="margin-left:0px;">
  	    <h3 style="padding: 0px 5px 0px 20px;"><%= best_in_place_if current_user, about, :title %></h3>
  	    <p style="padding: 0 10px 20px 20px;"><%= best_in_place_if current_user, about, :content, type: :textarea %></p>
  	  </div>
  	<% end %>
    <br></div>
  </div>

<% if current_user %>
<h3 class="heading">create new section</h3>
<div class="well">
  <br>
  <%= simple_form_for @about do |f| %>
    <%= f.input :title %>
    <%= f.input :genre, :collection => ["paragraph", "FAQ"] %>
    <%= f.input :content %>
    <%= f.submit :style => "margin-left: 170px;", :class => "btn btn-primary" %>
  <% end %>
</div>
<% end %>