<% @user.references.order('created_at DESC').each do |msg| %>
	
<div class="well">

    <p>
    <span style="float:left; text-align:left;">
	<%= gravatar_for(msg.sender, :thumb, :size => 30) %> <u><%= link_to msg.sender.username, msg.sender %></u>
	</span>
	<div style="float:right; text-align:right;">
	<% if msg.positive > 0 %>
	  <div class="content round" style="background: #86FF6F">
	<% elsif msg.positive == 0 %>
	  <div class="content round" style="background-color: #F5FF6D;">
	<% else %>
	  <div class="content round" style="background-color: #FB7B7C;">
	<% end %>	
    <h4><%= msg.positive_exp? %></h4>
	</div>
    		
	</div>
  </p>
<br>
  <div class="content round" style="margin: 10px -5px; padding: 10px; font-size:110%;">
    <%= msg.content %>
    
	</div>
	<% if msg.sender == current_user %>
	<br><%= link_to "delete", reference_path(msg), :method => :delete %>
	<% end %>
<div class="alt"><%= msg.msg_time %>
</div>
<br>
</div>
<% end %>
