<div class='super-small-container'>
<div class="well">

<h2 class="">
for: <%= link_to @user.username, @user %><br>
</h2><br>
<%= simple_form_for [@user, @reference], :class => "" do |f| %>
	
	<%= f.input :content, :label => "message:", :class => "text_area"%><br>
	<%= f.input :positive, 
			:label => "overall experience:", 
			:priority => 2, 
			:required => false,
			:collection => [['super!', 2],['fine!', 1],['just OK', 0],['sort of awk', -1],['negative', -2]] %>
	<%= f.button "submit", :class => "btn btn-primary", :style => "margin-left: 170px;" %>
	
<% end %>

</div>
</div>