<%= render 'shared/error_messages', :object => f.object %>  
  <tr>
    <td class="">
      <strong><%= f.label :seats_available, "Seats available:"%></strong>
    </td>
    <td>
      <%= f.select :seats_available, options_for_select([1, 2, 3, 4, 5, 6, 7, ['8, really?', 8]], @detail.seats_available) %> 
    </td>
    <td class="right">
      <strong><%= f.label :smoking, "Smoking:" %></strong>
    </td>
    <td>
      <%= f.select :smoking, options_for_select(
					[["No smoking at all, ever.", 0], ["No smoking *in* the car", 1], ["OK to smoke in the car", 2], ["I smoke in the car", 3]], @detail.smoking) %>
    </td>
  </tr>
  <tr>
    <td class="right">
      <strong>Radio preferences:</strong>
    </td>
    <td>
      <%= f.select :radio, options_for_select(["", "Music", "NPR", "Talk radio", "I'm flexible.", "Nothing."], @detail.radio) %>
    </td> 
    <td class="right">
	 <strong>Space for bikes:</strong>
	</td>
    <td>
      <%= f.select(:bikes, options_for_select([["No bikes", 0], ["1 bike in the trunk", 1], ["1 bike on a bike rack", 2], ["2 bikes on a bike rack", 2], ["3 bikes on a bike rack", 3]], @detail.bikes)) %>
    </td>
  </tr>
	<td class="right">
	  <strong>How much?</strong>
	</td>
    <td>
	  $<%= f.select(:cost, options_for_select([0, 5, 10, 15, 20], @detail.cost))%>
	</td>
  </tr>
  <tr class="tall">
	<td colspan="4"><hr>	
	  <strong>Additional Info:</strong>
	  <%= f.text_area :message, :class => 'text_area', :placeholder => "Why are you going? etc." %>
	</td>
  </tr>
