<div class="super-small-container">

      <label>seats available: </label>
      <%= f.select :seats_available, options_for_select([1, 2, 3, 4, 5, 6, 7, ['8, really?', 8]], @detail.seats_available) %> 
  <br><br>
      <label style="clear:both;">smoking: </label>
      <%= f.select :smoking, options_for_select([
			["No smoking at all, ever.", 0], 
			["No smoking *in* the car", 1], 
			["OK to smoke in the car", 2], 
			["I smoke in the car", 3]], 
			@detail.smoking) %>
		  <br><br>
      <label  style="clear:both;">radio preferences:</label>
      <%= f.select :radio, options_for_select(["", "Music", "NPR", "Talk radio", "I'm flexible.", "Nothing."], @detail.radio) %>
	  <br><br>
	 <label style="clear:both;">Space for bikes:</label>

      <%= f.select(:bikes, options_for_select([["No bikes", 0], ["1 bike in the trunk", 1], ["1 bike on a bike rack", 2], ["2 bikes on a bike rack", 2], ["3 bikes on a bike rack", 3]], @detail.bikes)) %>
	  <br><br>
	  <label style="clear:both;">How much?</label>

	  $<%= f.select(:cost, options_for_select([["$0", 0], ["$5", 5], ["$10", 10], ["$15", 15], ["$20", 20]], @detail.cost))%>
	  <br><br>

	  <label style="clear:both;">Additional Info:</label>
	  <%= f.text_area :message, :class => 'text_area', :placeholder => "Why are you going? etc." %>
<br><br>
</div>