<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
	<div class="span3">
    <%= f.label :start_city, "From:" %>
    <%= f.text_field :start_city, :class => "text_field", :placeholder => "(city)", :class => "span2" %> 
 <%= state_select(f, :start_state) %>
  </div>
  <div class="span3">
    <%= f.label :end_city, "To:" %>
    <%= f.text_field :end_city, :class => "text_field", :placeholder => "(city)", :class => "span2" %> 
 <%= state_select(f, :end_state) %><br/>
  </div>
</div>
<div class="row">

  <div class="span3">
    <%= f.label :date, "On:" %>
    <%= f.date_select:go_time,{ 
        					:order => [:month, :day], 
      				    	:style => "width:60px" }, {:class => "auto"} %> 
  </div>
  <div class="span2">
    <%= f.label :time, "At:" %>
    <%= go_time_select(f, :go_time) %>
    <%= go_time_min_select(f, :go_time) %> 
  </div>
</div>
<% end %>
