<%= simple_form_for @ride, :class=> "form-inline ride center" do |f| %>

    <h2 class="happy_monkey center">
	<span style="vertical-align: middle; font-size: 1.2em">ride:</span>
	<% f.select :offered, :label => false, :as => :select, :collection => [['offered', true], ['wanted', false]], :default => true %>
	<%= f.select :offered, [['offered', true], ['wanted', false]] %>
	</h2><br>


    <% f.input :offered, :label => "ride:", :as => :select, :collection => [['offered', true], ['wanted', false]], :default => true %>
	<span class="city_label">from: </span><%= f.text_field :start_city, :placeholder => "(city)" %>
	<% f.input :start_city, :label => "from: ", :placeholder => "(city)", :required => false %>
    <%= state_select(f, :start_state) %></span><br>
    
    <span class="city_label">to: </span><%= f.text_field :end_city, :placeholder => "(city)" %>
	<%= state_select(f, :end_state)  %>


<br style="clear:both;"><br>


	<span class="city_label">on: </span><%= f.date_select :go_time, { 
        					:order => [:month, :day], 
      				    	:style => "width:60px", :default => Date.today } %> <br>
    <span class="city_label"> at: </span>
    <%= go_time_select(f, :go_time_hour, @ride.go_time.hour) %>
    <%= go_time_min_select(f, :go_time_min, @ride.go_time.min) %>
    <br style="clear:both;">  <br>  
    <div class="center"><%= f.submit "continue", :class => "btn btn-warning" %></div>

<% end %>