<div class="well shadow round" style="padding: 20px 20px 70px 20px; width: 76%; height: 200px; margin-left: auto; margin-right:auto;">
<br>
<div class="super-small-container">
<%= simple_form_for @ride, :class=> "form-inline" do |f| %>
	<label>from: </label><%= f.text_field :start_city, :placeholder => "(city)" %>
	<% f.input :start_city, :label => "from: ", :placeholder => "(city)", :required => false %>
    <%= state_select(f, :start_state) %>
    
    <label>to: </label><%= f.text_field :end_city, :placeholder => "(city)" %> 
    <%= state_select(f, :end_state) %>


<br style="clear:both;"><br>


	<label>on: </label><%= f.date_select :go_time,{ 
        					:order => [:month, :day], 
      				    	:style => "width:60px", :default => Date.today } %> <br>
    <label> at: </label><%= go_time_select(f, :go_time_hour) %>
    <%= go_time_min_select(f, :go_time_min) %><br style="clear:both;">    
    <div class="center"><%= f.submit "continue", :class => "btn btn-warning" %></div>
	<br>
	<br>
	<br>
   <br>
<% end %>

</div>
</div>
</div>