<tr>
  <td class="date day">
    <%= link_to "#{ridetime(ride)[0]} #{ridetime(ride)[1]} #{ridetime(ride)[2]}", ride %>
  </td>
  <td class="gravatar">
    <%= link_to (image_tag ride.user.profile.avatar.url(:thumb)), ride.user %>
  </td>
  <td class="user">

    <%= link_to ride.user.username, ride.user %> 
  </td>
  <td class="cities">
    <strong>
    <%= "#{ride.start_city}, #{ride.start_state}" %>
    </strong> 
  </td>
  <td>
    to 
  </td>
  <td>
    <strong>
    <%= "#{ride.end_city}, #{ride.end_state}" %>
    </strong> 
  </td>
  <td class="alt timestamp">
    Posted 
    <%= time_ago_in_words(ride.created_at) %> 
    ago.
  </td>
</tr>
