<div class="hero-unit">
  <div class="row">
    <div class="span2">
      <%= link_to  (gravatar_for @ride.user, :small, :size => 100), @ride.user %>
      <h2><%= link_to @ride.user.username, @ride.user %></h2>
      <%=  %>
    </div>
    <div class="well span6">
		<h3 style="float: left;">
			<%= best_in_place_if @ride.user == current_user, @ride, :start_city %>, 
			<%= best_in_place_if @ride.user == current_user, @ride,:start_state %> to 
			<%= best_in_place_if @ride.user == current_user, @ride, :end_city %>, 
			<%= best_in_place_if @ride.user == current_user, @ride, :end_state %>
		</h3>
		
		<h2 class="pos content round" style="float:right;">
		<% unless @ride.detail.nil? %>
		  $<%= best_in_place_if @user == current_user, @ride.detail, :cost  %>
	    <% end %>
    	</h2>
		<h4 style="clear:left;"><%= ride_showtime(@ride)%></h4>
		
    </div>
	<div class="span2">
	<p>
	      <% if @ride.user == current_user %>
	        <%= link_to "edit", edit_ride_path(@ride) %><br/>
		    <%= link_to "delete", @ride, :confirm => "Are you sure?", :method => :delete %>
	      <% end %>
	</p>
	</div>
  </div>
</div>
  
<!-- ride detail -->

<div class="super-small-container well shadow round">

  <div class="content round" style="padding: 10px; font-size:110%;">	
	<% line_breaks(@ride.detail.message).each do |msg| %>
	  <%= msg %><br>
	<% end %>

  <% if @ride.user == current_user %>
	  <a class="accordion-toggle" data-toggle="collapse" href="#edit-msg">edit</a>
	  <div id="edit-msg" class="accordion-body collapse" style="clear:both;">
	  <div class="well"><br>
	  <%= simple_form_for @ride.detail do |f| %>
	    <%= f.input :message, :label => "info: " %>
	    <%= f.submit %>
	  <% end %>
	  </div></div>
  <% end %>
  </div><br>




	  Leaving on <%= @ride.go_time.strftime("%A, %B %d at #{@ride.go_time.strftime("%I").to_i}:%M") %>
      <% if @ride.go_time.hour < 12 %>
        am.
      <% else %>
        pm.
      <% end %>
   Heading about <%= @ride.trip_distance.round %> miles 
      <%= compass_points(@ride.bearing) %>
  <% unless @ride.detail.nil? %>
  <% end %>
   <tr>
    <td colspan="2">Start<br/>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=7&markers=#{@ride.latitude}%2C#{@ride.longitude}" %>
    </td>
   
    <td colspan="2">End<br/>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=7&markers=#{@ride.end_lat}%2C#{@ride.end_long}" %>
    </td>
  </tr>
  <tr>
  <td colspan="5">
  <% map_link = 'http://maps.google.com/maps?saddr=' + @ride.start_city + ',+' + @ride.start_state + '&daddr=' + @ride.end_city + ',+' + @ride.end_state %>
  <%= link_to "See route on Google Maps", map_link %>
  </tr>
</table>