<div class="hero-unit">
  <div class="row">
    <div class="span2">
      <%= link_to  (gravatar_for @ride.user, :small, :size => 100), @ride.user %>
      <h2><%= link_to @ride.user.username, @ride.user %></h2>
    </div>
    <div class="well span6">
		<h3 style="float: left;">
			<%= best_in_place_if @ride.user == current_user, @ride, :start_city %>, 
			<%= best_in_place_if @ride.user == current_user, @ride,:start_state %> to 
			<%= best_in_place_if @ride.user == current_user, @ride, :end_city %>, 
			<%= best_in_place_if @ride.user == current_user, @ride, :end_state %>
		</h3>
		
		<h2 class="content pos round" style="float:right; padding: 10px;">
		  <% @ride.detail.cost ||= 0 %>
		  <div class="cost">$ <%= best_in_place_if @ride.user == current_user, @ride.detail, :cost %>
		  </div>
    	</h2>
		<h4 style="clear:left;"><%= ride_showtime(@ride)%></h4>
		<div><br><a href="https://twitter.com/share" class="twitter-share-button" data-via="hithrto">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
		</div>
		<div>
		    <a name="fb_share" type="button"></a> 
			<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
			        type="text/javascript">
			</script>
		</div>
		
    </div>
	<div class="span2">
	<p>
	      <% if @ride.user == current_user %>
	        <div>
	        <%= link_to "edit", edit_ride_path(@ride), :class => "btn btn-warning" %><br/>
		    <%= link_to "delete", @ride, :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %>
		    </div>
		  <% else %>
		    <div>
		    <%= form_tag new_user_message_path(@ride.user), :method => :get do %>
		      <%= hidden_field_tag(:subject, "#{@ride.start_city} to #{@ride.end_city}") %>
		      <%= submit_tag "send a message", :class => "btn btn-primary" %>
		    <% end %>
		    </div>
	      <% end %>
	</p>
	</div>
  </div><div class="center"><i><%= "click the underlined fields to edit" if @ride.user == current_user %></i></div>
</div>
<!-- ride detail -->
<div class="row">
<div class="span8" style="">
	<div class="well shadow round">

  <div class="content round" style="padding: 20px; font-size:110%;">	
	<% line_breaks(@ride.detail.message).each do |msg| %>
	  <%= msg %><br>
	<% end %>
  <% if @ride.user == current_user %>
      <div class="center">
	  <a class="accordion-toggle" style="font-size:90%;" data-toggle="collapse" href="#edit-msg">
	  	<%= "edit" if @ride.detail.message.present? %>
		<%= "add a message" if !@ride.detail.message.present? %>
	  </a>
	  </div>
	  <div id="edit-msg" class="accordion-body collapse" style="clear:both;">
	  <div class="center"><br>
	  <%= simple_form_for @ride.detail do |f| %>
	    <%= f.input :message, :label => "info: ", :placeholder => "...what, where, how? etc" %>
	    <%= f.submit "update", :class => "center btn" %>
	  <% end %>
	  </div>
	  </div>
  <% end %>
  </div>
  <div class="round-top ride-detail">
  <b>seats available: </b></div>
  <div style="float:left; padding: 10px 5px 0 5px;">
    <%= best_in_place_if @ride.user == current_user, @ride.detail, :seats_available, 
 		:type => :select, :collection => 
		[[1, "1"], [2, "2"], [3, "3"], [4, "4"], 
		[5, "5"], [6, "6"], [7, "7"], [8, "8"]] %>
  </div><br>

  <div class="ride-detail"><b>radio: </b></div>
  <div style="float:left; padding: 10px 5px 0 5px;">
    <%= best_in_place_if @ride.user == current_user, @ride.detail, :radio,
 		:type => :select, collection: 
		[["Flexible", "Flexible"], ["Music", "Music"], 
		["NPR", "NPR"], ["Talk radio", "Talk radio"], ["Nothing", "Nothing"]] %>
  </div><br><br>


  <div class="ride-detail"><b>bikes: </b></div> 
  <div style="float:left; padding: 10px 5px 0 5px;">
  <% if @ride.user == current_user %>
    <%= best_in_place @ride.detail, :bikes, 
 		:type => :select, :collection => 
		[[0, "No bikes"], [1, "1 bike in the trunk"], 
		[2, "1 bike on a rack"], [3, "2 bikes on a rack"], [4, "3 bikes on a rack"]] %>
  <% else %>
    <%= bikes_with(@ride.detail.bikes) %>
  <% end %>
  </div><br><br>

  <div class="round-bottom ride-detail"><b>smoking: </b></div> 
  <div style="float:left; padding: 10px 5px;">
  <% if @ride.user == current_user %>
    <%= best_in_place @ride.detail, :smoking, 
		:type => :select, :collection => 
		[[0, "No smoking"], [1, "No smoking in the car"], 
		[2, "OK to smoke in the car"], [3, "I smoke in the car"]] %>  
  <% else %>
    <%= smoking_pref(@ride.detail.smoking) %>
  <% end%>
</div><br><br><br><br><br><br>

</div>
</div>



<div class="span4" style="margin-left:0px; margin-right:0px;">
	<div class="well round shadow">
   <p class="heading">Heading ~<%= @ride.trip_distance.round %> miles 
      <%= compass_points(@ride.bearing) %>
   </p>
    from:<br/>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=7&markers=#{@ride.latitude}%2C#{@ride.longitude}" %>
    <br><br>to: <br/>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=7&markers=#{@ride.end_lat}%2C#{@ride.end_long}" %>
<br><br>
  <% map_link = 'http://maps.google.com/maps?saddr=' + @ride.start_city + ',+' + @ride.start_state + '&daddr=' + @ride.end_city + ',+' + @ride.end_state %>
  <p class="heading"><%= link_to "See route on Google Maps", map_link %></p>
  </tr>
</table>
</div>
</div>