<%= provide(:title, "#{@ride.start_city} to #{@ride.end_city}") %>

<table class="round shadow_up ride">
  <tr><td colspan="5">
	<div class="hero-unit">
	
  <table class="plain">
  <tr>
    <td colspan="1">
      
      <%= link_to (image_tag @ride.user.profile.avatar.url(:small)), @ride.user %>
      <h3><%= link_to @ride.user.username, @ride.user %></h3>
    </td>
    <td class="title" colspan="1">
	  <%= "#{@ride.start_city}, #{@ride.start_state}" %>
	  to
	  <%= "#{@ride.end_city}, #{@ride.end_state}" %>
	</td>
	<td class="title">
    <% unless @ride.detail.nil? %>
	  $<%= @ride.detail.cost  %>
    <% end %>
    <td colspan="1">
      <%= link_to "see all rides", rides_path %><br/>
      <% if @ride.user == current_user %>
        <%= link_to "edit", edit_ride_path(@ride) %><br/>
	    <%= link_to "delete", @ride, :confirm => "Are you sure?", :method => :delete %>
      <% end %>
    </td>
  </tr>
  </table>
</div>
  </td></tr>
  <tr>
    <td colspan="3">
	  Leaving on <%= @ride.go_time.strftime("%A, %B %d at #{@ride.go_time.strftime("%I").to_i}:%M") %>
      <% if @ride.go_time.hour < 12 %>
        am.
      <% else %>
        pm.
      <% end %>
    </td>
    <td colspan="2">Heading about <%= @ride.trip_distance.round %> miles 
      <%= compass_points(@ride.bearing) %>
    </td>
  </tr>

  <% unless @ride.detail.nil? %>
  <% end %>
   <tr>
    <td colspan="2">Start<br/>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=7&markers=#{@ride.latitude}%2C#{@ride.longitude}" %>
    </td>
   
    <td colspan="2">End<br/>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=7&markers=#{@ride.end_lat}%2C#{@ride.end_long}" %>
    </td>
  </tr>
  <tr>
  <td colspan="5">
  <% map_link = 'http://maps.google.com/maps?saddr=' + @ride.start_city + ',+' + @ride.start_state + '&daddr=' + @ride.end_city + ',+' + @ride.end_state %>
  <%= link_to "See route on Google Maps", map_link %>
  </tr>
</table>